<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href={{url_for("static", filename = "css/style.css")}}>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Michroma&family=Ubuntu&display=swap" rel="stylesheet">
	<title></title>
</head>
<body>
	<div class="heading">
	<h1>FAQ's</h1>
	</div>
	<div class="section1">
		<p class="ques">Who are we?</p>
		<p class="ques">What is version beta?</p>
		<div>
			<p class="ques">Who should participate?</p>
			<div><p></p></div>
		</div>
		<div>
			<p class="ques">Number of members in a team?</p>
			<div class="ans">
				<p>The maximum number of team members is 4. You can also participate in team of 3 or 2 members. It's up to you. Choose your crewmates carefully to prevent being ejected.</p>
			</div>	
		</div>
		
		<p class="ques">How to participate?</p>
		<p class="ques">What is selection process?</p>
	</div>
	<div class="section2">
		<p class="ques">What are we looking in the team?</p>
		<p class="ques">Will Hackathon be conducted online?</p>
		<p class="ques">What is the goal of Hackathon?</p>
		<p class="ques">How would I know if I got selected?</p>
		<p class="ques">Cost of participation in Hackathon?</p>
	</div>
</body>
</html>